@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0px;
  margin: 0px;
}

body{
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

@layer components{

  body{
    @apply bg-[#F0F2F5]
  }

  .container{
    @apply w-[990px] mx-auto
  } 

  .iconMenuRight{
    @apply w-[40px] h-[40px] flex items-center justify-center bg-[#e7e7e7] hover:bg-[#D8DADF] rounded-full
  }

  .iconMenuMiddle{
    @apply w-[111px] h-[55px] relative flex justify-center items-center hover:bg-[#e7e7e7] rounded-md text-[#616161]
  }

  .iconMenuMiddle.active{
    @apply relative after:content-[""] after:absolute after:left-0 after:bottom-[-5px] after:h-[5px] after:w-[100%] after:rounded-[3px] after:bg-[#D82E38]
  }

  .iconMenuleftList{
    @apply flex p-2 items-center justify-start hover:bg-[#e6838a] rounded-l-md
  }

  .iconMenuleftList2{
    @apply flex p-2 px-3 items-center justify-start hover:bg-[#ddd] rounded-md
  }

  .listText{
    @apply font-[600] ml-4 text-[#383838]
  }

  .listIcon{
    @apply h-[35px] w-[35px] text-[#54CBBB]
  }

  .listIcon2{
    @apply h-[35px] w-[35px] text-[#E25A29]
  }

  .contactIcon{
    @apply rounded-full h-[30px] w-[30px] hover:bg-[#cecece] flex items-center justify-center text-[#383838]
  }

  .storyWrapper{
    @apply w-[110px] h-[190px] bg-[#ffffff] items-center rounded-lg overflow-hidden relative shadow-md mr-2 last:mr-0 hover:scale-[1.01] transition duration-200 transform hover:animate-pulse ease-in cursor-pointer
  }

  .storyWrapper2{
    @apply w-[120px] h-[195px] bg-[#ffffff] items-center rounded-lg overflow-hidden relative shadow-md mr-2 last:mr-0 hover:scale-[1.01] transition duration-200 transform hover:animate-pulse ease-in cursor-pointer
  }

  .uploadPreviewFeatured{
    @apply w-[100px] h-[170px] bg-[#ffffff] items-center rounded-lg overflow-hidden relative shadow-md mr-2 last:mr-0 transition duration-200 transform hover:animate-pulse ease-in cursor-pointer
  }

  .switch {
    @apply w-0 h-0 opacity-0
  }

  .slider {
    @apply absolute left-0 bottom-0 right-0 top-0 cursor-pointer bg-[#ccc] transition-all duration-100 before:absolute before:content-[''] before:left-[4px] before:bottom-[4px] before:w-[26px] before:h-[26px] before:bg-[#fff] before:transition-all before:duration-100
  }

  .switch:checked + .slider{
    @apply bg-[#D82E38]
  }

  .switch:checked + .slider:before{
    @apply transform translate-x-[26px]
  }
  
  /* .switch:focus + .slider{
    @apply shadow-md shadow-[#2196F3]
  } */

  .activeTwo{
    @apply bg-[#d82e3957] text-[#D82E38]
  }

  .profileHeaderMenuItems{
    @apply relative font-semibold hover:bg-[#F2B8BB] rounded-md hover:text-[#D82E38] px-3 py-2 my-1 text-[gray] block
  }

  .profileHeaderMenuItems.activeThree{
    @apply after:content-[""] after:absolute after:left-0 after:bottom-[-4px] after:w-[100%] after:h-[4px] after:bg-[#D82E38] text-[#D82E38]
  }

  .barItem{
    @apply w-[0%] h-[4px] bg-[#fff]
  }

  .round input[type="checkbox"]{
    @apply invisible
  }

  .round label{
    @apply bg-transparent border-[2px] border-[#D82E38] rounded-full cursor-pointer h-[25px] w-[25px] absolute left-0 top-0 after:content-[""] after:border-[3px] after:border-[#fff] after:border-t-[0px] after:border-r-[0px] after:h-[7px] after:absolute after:left-[5.5px] after:top-[7px] after:w-[12px] after:rotate-[-45deg] after:opacity-0
  }

  .round input[type="checkbox"]:checked + label{
    @apply bg-[#D82E38] border-[#D82E38]
  }

  .round input[type="checkbox"]:checked + label:after {
    @apply opacity-[1]
  }

  .zoomBlock input::-webkit-slider-thumb{
    @apply appearance-none w-[20px] h-[20px] rounded-md bg-[#D82E38]
  }

}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

